.width-40{
    width: 40% !important;
}
.d-flex{
    display: flex;
}
.justify-sb{
    justify-content: space-between;
    
}
.align-center{
    align-items: center;
}
.d-row{
    flex-direction: row;
}
.mt-24{
    margin-top: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.w-70{
    width: 70%;
}
.ml-20{
    margin-left: 20px;
}